.slide-wrapper {
  height: calc(100vh - 100px);
  h1, h2, h3 {
    text-align: center;
  }

  .slide {
    height: 100%;
    padding: 15px;
    padding-top: 50px;

    .carousel-control {
      background-image: none;
      width: 60px;
    }

    .carousel-indicators {
      top: 3px;
    }

    .carousel-indicators li {
      background-color: gray;

      &.active {
        background-color: green;
      }
    }
  }
}

.page-wrapper {
  .slide-content {
    padding: 30px 30px;
  }
}
