<!DOCTYPE html>
<html>
  <head>
    <title>RailsSlider</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Ubuntu" rel="stylesheet">
    <style>
      body {
        font-family: 'Exo 2', sans-serif;
        /*font-family: 'Ubuntu', sans-serif;*/
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
